<div class="panel panel-success achievement-item">
    <div class="panel-body">
        <div class="media">
            <span class="pull-left achievement-icon">
                <img class="media-object" src="{{icon-path}}" alt="{{name}}">
            </span>
            <div class="media-body">
                <h3 class="media-heading text-success">{{name}}<span class="glyphicon glyphicon-ok"></span></h3>
                <table class="table table-borderless achievement-detail">
                    <tr>
                        <td class="achievement-detail-title hidden-xs">Requirement:</td>
                        <td>{{&requirement}}, completed at {{time}}.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
