@-webkit-keyframes fly_{{width}} {
    from { background-position: 0px; }
    to { background-position: -{{width3}}px; }
}
@-moz-keyframes fly_{{width}} {
    from { background-position: 0px; }
    to { background-position: -{{width3}}px; }
}
@keyframes fly_{{width}} {
    from { background-position: 0px; }
    to { background-position: -{{width3}}px; }
}
