<div class="col-md-2 col-sm-3 col-xs-6">
    <div class="thumbnail panel-warning">
        <div class="bird-display-top"></div>
        <div class="bird-cage">
        	<div class="bird-display" style="background-image: url({{path}}); height: {{height}}px; width: {{width}}px; -webkit-animation: fly_{{width}} .8s steps(3, end) infinite; -moz-animation: fly_{{width}} .8s steps(3, end) infinite; animation: fly_{{width}} .8s steps(3, end) infinite;"></div>
        </div>
        <div class="caption">
            <h3>{{name}}</h3>
            {{#is-free}}
            <h4><span class="label label-warning">Free</span></h4><br/>
            {{/is-free}}
            {{^is-free}}
            <h4>Price: <span class="label label-warning">{{price}}</span></h4><br/>
            {{/is-free}}
            <p class="text-center"><button type="button" class="btn btn-info bird-purchase" data-name="{{name}}" data-path="{{id}}" data-price="{{price}}" data-loading-text="Loading...">Purchase</button></p>
        </div>
    </div>
</div>
